@import "../../.config/matugen/generated/swayosd-colors.css";

window#osd {
  border-radius: 6px;
  border: none;
  background: alpha(@theme_bg_color, 0.8);
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.6);
  margin: 16px;
}

window#osd #container {
  margin: 6px;
}

window#osd image,
window#osd label {
  color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 4px;
  border-radius: 6px;
  /* background: transparent; */
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}
