@define-color background #1e1e2e;
@define-color surface #1e1e2e;
@define-color on_surface #cdd6f4;
@define-color on_surface_variant #bac2de;

@define-color primary #cba6f7;
@define-color on_primary #1e1e2e;
@define-color primary_container #313244;
@define-color on_primary_container #cba6f7;

@define-color secondary #89b4fa;
@define-color outline_variant #585b70;

@define-color error #f38ba8;
@define-color surface_container #1e1e2e;
@define-color surface_container_high #313244;
@define-color surface_container_highest #45475a;
@define-color shadow #11111b;
@define-color surface_variant #45475a;