@define-color background #11111b;
@define-color on_background #cdd6f4;
@define-color surface #1e1e2e;
@define-color on_surface #cdd6f4;
@define-color on_surface_variant #bac2de;

@define-color primary #cba6f7;
@define-color on_primary #1e1e2e;
@define-color primary_container #313244;
@define-color on_primary_container #cba6f7;

@define-color secondary #89b4fa;
@define-color on_secondary #1e1e2e;
@define-color secondary_container #313244;
@define-color on_secondary_container #89b4fa;

@define-color tertiary #f5c2e7;
@define-color on_tertiary #1e1e2e;
@define-color tertiary_container #313244;
@define-color on_tertiary_container #f5c2e7;

@define-color error #f38ba8;
@define-color on_error #1e1e2e;
@define-color error_container #f38ba8;
@define-color on_error_container #1e1e2e;

@define-color outline #6c7086;
@define-color outline_variant #585b70;

@define-color surface_container_lowest #11111b;
@define-color surface_container_low #181825;
@define-color surface_container #1e1e2e;
@define-color surface_container_high #313244;
@define-color surface_container_highest #45475a;

@define-color shadow #11111b;
@define-color scrim #11111b;
@define-color inverse_surface #cdd6f4;
@define-color inverse_on_surface #1e1e2e;
@define-color inverse_primary #cba6f7;
