@define-color background #1a1b26;
@define-color on_background #c0caf5;
@define-color surface #1a1b26;
@define-color on_surface #c0caf5;
@define-color on_surface_variant #a9b1d6;

@define-color primary #7aa2f7;
@define-color on_primary #1a1b26;
@define-color primary_container #24283b;
@define-color on_primary_container #7aa2f7;

@define-color secondary #bb9af7;
@define-color on_secondary #1a1b26;
@define-color secondary_container #24283b;
@define-color on_secondary_container #bb9af7;

@define-color tertiary #7dcfff;
@define-color on_tertiary #1a1b26;
@define-color tertiary_container #24283b;
@define-color on_tertiary_container #7dcfff;

@define-color error #f7768e;
@define-color on_error #1a1b26;
@define-color error_container #f7768e;
@define-color on_error_container #1a1b26;

@define-color outline #565f89;
@define-color outline_variant #414868;

@define-color surface_container_lowest #15161e;
@define-color surface_container_low #1a1b26;
@define-color surface_container #24283b;
@define-color surface_container_high #414868;
@define-color surface_container_highest #565f89;

@define-color shadow #15161e;
@define-color scrim #15161e;
@define-color inverse_surface #c0caf5;
@define-color inverse_on_surface #1a1b26;
@define-color inverse_primary #7aa2f7;