@define-color accent_color #9e9e9e;
@define-color accent_fg_color #1e1e1e;
@define-color accent_bg_color #9e9e9e;
@define-color window_bg_color #1e1e1e;
@define-color window_fg_color #e0e0e0;
@define-color headerbar_bg_color #1e1e1e;
@define-color headerbar_fg_color #e0e0e0;
@define-color popover_bg_color #1e1e1e;
@define-color popover_fg_color #e0e0e0;
@define-color view_bg_color #1e1e1e;
@define-color view_fg_color #e0e0e0;
@define-color card_bg_color #2a2a2a;
@define-color card_fg_color #e0e0e0;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
