@define-color background #1e1e1e;
@define-color on_background #d6d6d6;
@define-color surface #1e1e1e;
@define-color on_surface #d6d6d6;
@define-color on_surface_variant #bcbcbc;

@define-color primary #b0b0b0;
@define-color on_primary #1e1e1e;
@define-color primary_container #2f2f2f;
@define-color on_primary_container #b0b0b0;

@define-color secondary #9a9a9a;
@define-color on_secondary #1e1e1e;
@define-color secondary_container #2f2f2f;
@define-color on_secondary_container #9a9a9a;

@define-color tertiary #c2c2c2;
@define-color on_tertiary #1e1e1e;
@define-color tertiary_container #2f2f2f;
@define-color on_tertiary_container #c2c2c2;

@define-color error #a0a0a0;
@define-color on_error #1e1e1e;
@define-color error_container #a0a0a0;
@define-color on_error_container #1e1e1e;

@define-color outline #6a6a6a;
@define-color outline_variant #5a5a5a;

@define-color surface_container_lowest #111111;
@define-color surface_container_low #181818;
@define-color surface_container #1e1e1e;
@define-color surface_container_high #2f2f2f;
@define-color surface_container_highest #4a4a4a;

@define-color shadow #111111;
@define-color scrim #111111;
@define-color inverse_surface #d6d6d6;
@define-color inverse_on_surface #1e1e1e;
@define-color inverse_primary #b0b0b0;
