
    @define-color background #19120c;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #372f28;

    @define-color inverse_primary #865219;

    @define-color inverse_surface #efe0d5;

    @define-color on_background #efe0d5;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #4a2800;

    @define-color on_primary_container #ffdcbf;

    @define-color on_primary_fixed #2d1600;

    @define-color on_primary_fixed_variant #6a3b01;

    @define-color on_secondary #412c18;

    @define-color on_secondary_container #ffdcbf;

    @define-color on_secondary_fixed #291806;

    @define-color on_secondary_fixed_variant #59422d;

    @define-color on_surface #efe0d5;

    @define-color on_surface_variant #d5c3b6;

    @define-color on_tertiary #2b340f;

    @define-color on_tertiary_container #dde8b3;

    @define-color on_tertiary_fixed #171e00;

    @define-color on_tertiary_fixed_variant #414b24;

    @define-color outline #9e8e81;

    @define-color outline_variant #51443a;

    @define-color primary #fdb876;

    @define-color primary_container #6a3b01;

    @define-color primary_fixed #ffdcbf;

    @define-color primary_fixed_dim #fdb876;

    @define-color scrim #000000;

    @define-color secondary #e2c0a4;

    @define-color secondary_container #59422d;

    @define-color secondary_fixed #ffdcbf;

    @define-color secondary_fixed_dim #e2c0a4;

    @define-color shadow #000000;

    @define-color source_color #bc7423;

    @define-color surface #19120c;

    @define-color surface_bright #403830;

    @define-color surface_container #261e18;

    @define-color surface_container_high #312822;

    @define-color surface_container_highest #3c332c;

    @define-color surface_container_low #211a14;

    @define-color surface_container_lowest #130d07;

    @define-color surface_dim #19120c;

    @define-color surface_tint #fdb876;

    @define-color surface_variant #51443a;

    @define-color tertiary #c1cc99;

    @define-color tertiary_container #414b24;

    @define-color tertiary_fixed #dde8b3;

    @define-color tertiary_fixed_dim #c1cc99;
