@define-color accent_color #80a0ff;
@define-color accent_fg_color #080808;
@define-color accent_bg_color #80a0ff;
@define-color window_bg_color #080808;
@define-color window_fg_color #bdbdbd;
@define-color headerbar_bg_color #080808;
@define-color headerbar_fg_color #bdbdbd;
@define-color popover_bg_color #080808;
@define-color popover_fg_color #bdbdbd;
@define-color view_bg_color #080808;
@define-color view_fg_color #bdbdbd;
@define-color card_bg_color #121212;
@define-color card_fg_color #bdbdbd;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;