@define-color background #080808;
@define-color on_background #b2b2b2;
@define-color surface #080808;
@define-color on_surface #b2b2b2;
@define-color on_surface_variant #7e8294;

@define-color primary #82aaff;
@define-color on_primary #080808;
@define-color primary_container #1e1e1e;
@define-color on_primary_container #82aaff;

@define-color secondary #c792ea;
@define-color on_secondary #080808;
@define-color secondary_container #1e1e1e;
@define-color on_secondary_container #c792ea;

@define-color tertiary #89ddff;
@define-color on_tertiary #080808;
@define-color tertiary_container #1e1e1e;
@define-color on_tertiary_container #89ddff;

@define-color error #ff5454;
@define-color on_error #080808;
@define-color error_container #ff5454;
@define-color on_error_container #080808;

@define-color outline #5c677f;
@define-color outline_variant #303030;

@define-color surface_container_lowest #000000;
@define-color surface_container_low #080808;
@define-color surface_container #1e1e1e;
@define-color surface_container_high #303030;
@define-color surface_container_highest #5c677f;

@define-color shadow #000000;
@define-color scrim #000000;
@define-color inverse_surface #b2b2b2;
@define-color inverse_on_surface #080808;
@define-color inverse_primary #82aaff;