@import "colors.css";

* {
  background-image: none;
  box-shadow: none;
  font-family: "JetBrainsMono Nerd Font", "Segoe UI", sans-serif;
  color: @on_surface;
}

window {
  background-color: @surface;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

button {
  border-radius: 16px;
  border: 1px solid @outline_variant;
  color: @primary;
  background-color: alpha(@surface_container_high, 0.6);
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: 50px;
  text-shadow: 1px 1px 2px alpha(@shadow, 0.5);
  transition: all 0.2s ease;
  padding: 10px 40px;
  margin: 10px 30px;
}

button:hover,
button:focus,
button:active {
  background-color: @surface_container_highest;
  border-color: @primary;
  outline: none;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
