
    @define-color background #171217;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #342f34;

    @define-color inverse_primary #7a4f81;

    @define-color inverse_surface #eadfe7;

    @define-color on_background #eadfe7;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #472150;

    @define-color on_primary_container #fdd6ff;

    @define-color on_primary_fixed #300939;

    @define-color on_primary_fixed_variant #603768;

    @define-color on_secondary #3b2b3c;

    @define-color on_secondary_container #f3dbf2;

    @define-color on_secondary_fixed #251727;

    @define-color on_secondary_fixed_variant #524153;

    @define-color on_surface #eadfe7;

    @define-color on_surface_variant #cfc3cd;

    @define-color on_tertiary #4c2521;

    @define-color on_tertiary_container #ffdad5;

    @define-color on_tertiary_fixed #33110d;

    @define-color on_tertiary_fixed_variant #673b36;

    @define-color outline #988d97;

    @define-color outline_variant #4d444c;

    @define-color primary #e9b5ef;

    @define-color primary_container #603768;

    @define-color primary_fixed #fdd6ff;

    @define-color primary_fixed_dim #e9b5ef;

    @define-color scrim #000000;

    @define-color secondary #d6c0d6;

    @define-color secondary_container #524153;

    @define-color secondary_fixed #f3dbf2;

    @define-color secondary_fixed_dim #d6c0d6;

    @define-color shadow #000000;

    @define-color source_color #c299c6;

    @define-color surface #171217;

    @define-color surface_bright #3d373d;

    @define-color surface_container #231e23;

    @define-color surface_container_high #2e282d;

    @define-color surface_container_highest #393338;

    @define-color surface_container_low #1f1a1f;

    @define-color surface_container_lowest #110d11;

    @define-color surface_dim #171217;

    @define-color surface_tint #e9b5ef;

    @define-color surface_variant #4d444c;

    @define-color tertiary #f5b7b0;

    @define-color tertiary_container #673b36;

    @define-color tertiary_fixed #ffdad5;

    @define-color tertiary_fixed_dim #f5b7b0;
