@define-color accent_color #e9b5ef;
@define-color accent_fg_color #300939;
@define-color accent_bg_color #e9b5ef;
@define-color window_bg_color #171217;
@define-color window_fg_color #eadfe7;
@define-color headerbar_bg_color #171217;
@define-color headerbar_fg_color #eadfe7;
@define-color popover_bg_color #171217;
@define-color popover_fg_color #eadfe7;
@define-color view_bg_color #171217;
@define-color view_fg_color #eadfe7;
@define-color card_bg_color #171217;
@define-color card_fg_color #eadfe7;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
