@import "theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background-color: @shadow;
  color: @primary;
  border-radius: 8px;
}

#clock {
  padding: 0;
  margin: 6px;
  background-color: transparent;
}

#workspaces {
  background-color: transparent;
  border-radius: 14px;
  padding: 6px 0;
}

#workspaces button {
  padding: 0;
  margin: 4px 5px;
  border-radius: 50%;
  background-color: @secondary;
  color: transparent;
  min-width: 8px;
  min-height: 8px;
  opacity: 0.4;
  box-shadow: none;
  text-shadow: none;
  border: none;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button:hover {
  opacity: 0.8;
}

#workspaces button.active {
  background-color: @primary;
  opacity: 1;
  min-height: 32px;
  min-width: 8px;
  border-radius: 100px;
}

#workspaces button.urgent {
  background-color: @error;
  opacity: 1;
}
